@import url('https://fonts.googleapis.com/css?family=Maitree|Montserrat:200,400,500,600');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Maitree', serif; */

:root {
  /* set color variables */
  --header: #f97963;
  --details: #f9fafb;
  --white: #ffffff;
  --day-clear: #ffbd70; /* daytime clear */
  --day-clouds: #74badb; /* daytime clouds */
  --night-clear: #172a53; /* night clear */
  --night-clouds: #283146; /* night clouds */
  --day-rain: #076f8a; /* daytime rain or tstorm */
  --night-rain: purple; /* nighttime rain or tstorm */
  --snow: #c0cdda; /*snow, mist */
  --text-black: #4a4a4a;
  --text-grey: rgba(0, 0, 0, 0.25);
  /* set font variables */
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Maitree', serif;
  /* document setup */
  box-sizing: border-box;
  font-size: calc(0.3em + 1vw);
  font-family: var(--main-font);
  font-weight: 500;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--header);
  padding: 1.5rem 0 1.3rem 2rem;
}

.main {
  background-color: var(--slate);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--title-font);
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--white);
  margin: 0;
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-grey);
  padding: 1.4rem 0 0.625rem;
  margin: 0;
}

h4 {
  font-size: 1.125rem;
  font-weight: 200;
  margin: 0;
}

/* Styling for city panel */

.city-panel {
  display: flex;
  width: 100%;
  padding: 5.92rem 3.34rem 5.84rem 3.34rem;
  color: var(--white);
  align-items: center;
}

li > img {
  width: 3.125rem;
  height: 3.125rem;
}

.city-panel :nth-child(1) {
  font-family: Maitree;
  font-size: 2.25rem;
  font-weight: 600;
  flex-basis: 87%;
}

.city-panel li + li {
  margin-left: auto;
}

.city-panel :nth-child(3) {
  font-weight: 200;
  font-size: 2.25rem;
  padding-left: 3.34rem;
}

/* styling for forecast panel */

.forecast-panel {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3.34rem;
  color: var(--text-black);
  align-items: left;
}

.forecast-panel > ul {
  display: flex;
  padding-bottom: 0.7rem;
  overflow-x: scroll;
}

.day {
  flex-direction: column;
  display: flex;
}

.hour-container {
  display: flex;
  padding: 0;
}

.hour {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 0.55rem 0 0.7rem;
}

.hour-container > ul li:first-child {
  font-size: 0.875rem;
}

.details-panel {
  background-color: var(--details);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5.92rem 3.34rem 5.84rem 3.34rem;
}

.details-panel > ul {
  padding: 2.5rem 0 2.5rem 5.125rem;
  display: flex;
}

.details-panel > ul > li {
  flex-direction: column;
  flex-basis: 33.334%;
}

.details-panel > ul > li > h2 {
  padding-bottom: 0.625rem;
}

.error {
  align-self: center;
  padding: 0;
  color: var(--text-grey);
}

hr {
  width: 90vw;
  height: 0.065rem;
  color: rgba(151, 151, 151, 0.22);
  border: solid 0.032rem rgba(151, 151, 151, 0.22);
}

.sun {
  background-color: var(--day-clear);
}

.moon {
  background-color: var(--night-clear);
}

.day-clouds {
  background-color: var(--day-clouds);
}

.night-clouds {
  background-color: var(--night-clouds);
}

.day-rain {
  background-color: var(--day-rain);
}

.night-rain {
  background-color: var(--night-rain);
}

.snow {
  background-color: var(--snow);
}

.skyline-chicago {
  background-size: cover;
  background-image: url('./skylines/chicago.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-frankfurt {
  background-size: cover;
  background-image: url('./skylines/frankfurt.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-hong-kong {
  background-size: cover;
  background-image: url('./skylines/hong-kong.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-new-york {
  background-size: cover;
  background-image: url('./skylines/new-york.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-shanghai {
  background-size: cover;
  background-image: url('./skylines/shanghai.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}
