@import url('https://fonts.googleapis.com/css?family=Maitree|Montserrat:200,400,500,600');

:root {
  /* set color variables */
  --header: #f97963;
  --details: #f9fafb;
  --white: #ffffff;
  --day-clear: #ffbd70; /* daytime clear */
  --day-clouds: #74badb; /* daytime clouds */
  --night-clear: #414979; /* night clear */
  --night-clouds: #9099a2; /* night clouds */
  --day-rain: #80a19b; /* daytime rain or tstorm */
  --night-rain: #283146; /* nighttime rain or tstorm */
  --day-snow: rgba(192, 205, 218, 0.98); /*snow, mist */
  --night-snow: #8491ae; /*snow, mist */
  --text-black: #4a4a4a;
  --text-grey: rgba(0, 0, 0, 0.25);
  /* set font variables */
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Maitree', serif;
  /* document setup */
  box-sizing: border-box;
  font-size: calc(0.3em + 1vw);
  font-family: var(--main-font);
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--header);
  padding: 1.5rem 0 1.3rem 3.34rem;
}

.main {
  background-color: var(--slate);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--Montserrat);
  font-size: 2.25rem;
  font-weight: 200;
  color: var(--white);
  margin: 0;
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-grey);
  padding: 1.4rem 0 0.625rem;
  margin: 0;
}

h4 {
  font-size: 1.125rem;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--main-font);
  color: #4a4a4a;
  padding: 1.4rem 0 0.625rem;
  margin: 0;
}

/* Styling for city panel */

.city-panel {
  display: flex;
  width: 100%;
  padding: 5.92rem 3.34rem 5.84rem 3.34rem;
  margin-bottom: 0.3125rem;
  color: var(--white);
  align-items: center;
}

li > img {
  width: 3.125rem;
  height: 3.125rem;
}

.city-panel :nth-child(1) {
  font-family: Maitree;
  font-size: 2.25rem;
  font-weight: 600;
  flex-basis: 87%;
}

.city-panel li + li {
  margin-left: auto;
}

.city-panel :nth-child(3) {
  font-weight: 200;
  font-size: 2.25rem;
  padding-left: 3.34rem;
}

/* styling for forecast panel */

.forecast-panel {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3.34rem;
  color: var(--text-black);
  align-items: left;
}
.arrow {
  width: 1rem;
  position: absolute;
  left: 95vw;
  margin-top: 7rem;
}

.arrow-flipped {
  transform: rotate(180deg);
  width: 1rem;
  position: absolute;
  margin-top: 7rem;
}
.forecast-panel > ul {
  margin: 0 2vw 0 3vw;
  width: 94%;
  display: flex;
  padding-bottom: 0.7rem;
  overflow-x: hidden;
}

.day {
  flex-direction: column;
  display: flex;
}

.hour-container {
  display: flex;
  padding: 0;
}

.hour {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem 0.55rem 0 0.7rem;
}

.hour-container > ul li:first-child {
  font-size: 0.875rem;
}

.details-panel {
  background-color: var(--details);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5.92rem 3.34rem 5.84rem 3.34rem;
}

.details-panel > ul {
  padding: 2.5rem 0 2.5rem 5.125rem;
  display: flex;
}

.details-panel > ul > li {
  flex-direction: column;
  flex-basis: 33.334%;
}

.details-panel > ul > li > h2 {
  padding-bottom: 0.625rem;
}

.error {
  align-self: center;
  padding: 6vw 0;
  color: var(--text-grey);
}

hr {
  width: 90vw;
  height: 0.065rem;
  color: rgba(151, 151, 151, 0.22);
  border: solid 0.032rem rgba(151, 151, 151, 0.22);
}

.sun {
  background-color: var(--day-clear);
}

.moon {
  background-color: var(--night-clear);
}

.day-clouds {
  background-color: var(--day-clouds);
}

.night-clouds {
  background-color: var(--night-clouds);
}

.day-rain {
  background-color: var(--day-rain);
}

.night-rain {
  background-color: var(--night-rain);
}

.day-snow {
  background-color: var(--day-snow);
}

.night-snow {
  background-color: var(--night-snow);
}

.skyline-chicago {
  background-size: cover;
  background-image: url('./skylines/chicago.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-frankfurt {
  background-size: cover;
  background-image: url('./skylines/frankfurt.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-hong-kong {
  background-size: cover;
  background-image: url('./skylines/hong-kong.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-new-york {
  background-size: cover;
  background-image: url('./skylines/new-york.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

.skyline-shanghai {
  background-size: cover;
  background-image: url('./skylines/shanghai.svg');
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  width: 100%;
}

/* LOADING DOTS */

.loader {
  margin: 0;
  padding: 20vw 40vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loading-dot {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background-color: var(--day-snow);
}

.one {
  animation-duration: 1s;
  animation-name: loading-one;
  animation-iteration-count: infinite;
}

.two {
  animation-duration: 1s;
  animation-name: loading-two;
  animation-iteration-count: infinite;
}

.three {
  animation-duration: 1s;
  animation-name: loading-three;
  animation-iteration-count: infinite;
}

@keyframes loading-one {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0.5;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading-two {
  0% {
    opacity: 0.5;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-three {
  0% {
    opacity: 0.5;
  }

  33% {
    opacity: 0.5;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
